<html>
    <head>
        <title><%= @vdomain %> is now open and ready for business</title>
    </head>
    <body>
        <h1><%= @vdomain %> is now open and ready for business</h1>
    </body>
</html>
